If the numbers to are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?


NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

In [6]:
def number_to_words(n):
    if n == 0:
        return "zero"

    ones = ["", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    teens = ["", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
    tens = ["", "ten", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]
    thousands = ["", "thousand"]

    def one(n):
        return ones[n]

    def ten(n):
        if n < 10:
            return one(n)
        elif 10 < n < 20:
            return teens[n-10]
        else:
            return tens[n // 10] + (" " + one(n % 10) if n % 10 != 0 else "")

    def hundred(n):
        if n < 100:
            return ten(n)
        else:
            return one(n // 100) + " hundred" + (" and " + ten(n % 100) if n % 100 != 0 else "")

    def thousand(n):
        if n < 1000:
            return hundred(n)
        else:
            return one(n // 1000) + " thousand" + (" " + hundred(n % 1000) if n % 1000 != 0 else "")

    return thousand(n)

def letter_count_in_range(start, end):
    return sum(len(number_to_words(i).replace(" ", "")) for i in range(start, end + 1))

total_letters = letter_count_in_range(1, 1000)
print(f"Total letters used: {total_letters}")

Total letters used: 21124

7.There are several cards arranged in a row, and each card has an associated number of points. The points are given in the integer array cardPoints.

In one step, you can take one card from the beginning or from the end of the row. You have to take exactly k cards.

Your score is the sum of the points of the cards you have taken.

Given the integer array cardPoints and the integer k, return the maximum score you can obtain.

Example 1:
Input: cardPoints = [1,2,3,4,5,6,1], k = 3
Output: 12

Example 2:
Input: cardPoints = [2,2,2], k = 2
Output: 4

Example 3:
Input: cardPoints = [9,7,7,9,7,7,9], k = 7
Output: 55

In [3]:
def max_score(cp, k):
  n=len(cp)
  max_score=sum(cp[:k])
  curr_score = max_score
  for i in range(1,k+1):
    curr_score = curr_score - cp[k-i] + cp[-i]
    max_score = max(max_score, curr_score)
  return max_score

test1=[1,2,3,4,5,6,1]
k1 = 3
test2=[2,2,2]
k2=2
test3=[9,7,7,9,7,7,9]
k3=7
r1=max_score(test1,k1)
r2=max_score(test2,k2)
r3=max_score(test3,k3)
print(r1)
print(r2)
print(r3)

12
4
55